& {
  padding-bottom: 5rem;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

> .container {
  @include media-breakpoint-down(sm) {
    padding: 0;

    > .row > main {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

aside {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;

  top: $nav-height + 1rem;
  font-size: 1rem;

  @include media-breakpoint-down(sm) {
    height: $nav-height;

    top: 0;
    padding: 0;
    margin-bottom: 2rem;
    z-index: 20;
  }

  ul {
    opacity: .5;
    max-height: calc(100vh - var(--nav-height) - 5rem);
    overflow-y: auto;

    @include media-breakpoint-down(sm) {
      opacity: 1;
      overflow-y: hidden;
      flex-direction: row;
      flex-wrap: nowrap;
      white-space: nowrap;

      padding: 0;

      background: lighten($color-khaki, 25%);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  li {
    padding: 0;
    width: 100%;

    @include media-breakpoint-down(sm) {
      padding: 0.5rem 0;
      width: auto;
    }

    &::before {
      display: none;
    }

    + li {
      margin-top: .5rem;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }
  }

  a {
    color: $body-color;
    font-weight: inherit;

    &.active {
      text-decoration: underline;
    }
  }

  .highlight {
    font-weight: 400;
  }
}

main {
  .content-section {
    margin-bottom: 2rem;
  }

  .lead {
    font-weight: 400;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .info--content {
    padding: 2rem;
    line-height: 1.75rem;

    > :not(:last-child), > blockquote > :not(:last-child) {
      margin-bottom: 1.5rem;
    }

    > img:first-child {
      margin-top: -2rem;
      margin-left: -2rem;
      max-width: calc(100% + 4rem);

      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    > ul:not(.recipe__directions),
    > ul.recipe__directions > li > ul,
    ol,
    blockquote {
      border-left: 4px transparentize($primary, 0.2) solid;

      button.btn {
        display: block;

        margin-left: auto;
        margin-right: auto;
        padding: 1rem 2rem;
      }
    }

    li.notes {
      list-style: none;
    }

    blockquote {
      padding-left: 2rem;
    }

    ol {
      padding-left: 3rem;
    }

    ul.recipe__directions, ul.recipe__directions ul {
      list-style: none;
      padding-left: 0;

      > :not(:first-child) {
        margin-top: 1.5rem;
      }

      > li > ul {
        padding-left: 2rem;
      }
    }

    a {
      text-decoration: underline;
    }

    ul.recipe__directions ul {
      font-size: .9rem;
      line-height: 1.5rem;
    }
  }
}

h4 {
  margin-top: 2rem;
  font-size: 1.25rem;
}
