<p> <em>Different knives</em> serve <em>different purposes</em>. You might have seen—or own!—a set, bought a long time ago, containing a <em>chef’s knife</em> (that’s the 8 to 10-inch one), a <em>serrated knife</em>, <em>boning knife</em> and <em>paring knife</em>. Or you might have fancy <em>imported knives</em> from Japan, where a catalogue of <em>different-shaped blades</em> — deba, usuba, santoku — are intended for <em>specific use</em>. </p>
<p> About <em>90% of my cooking</em> is done with <em>one knife</em>, an <em>8-inch chef blade</em>. If you don’t own any knives, this is a <em>good place to start</em>. A <em>cheap serrated</em> or paring knife will <em>serve you fine</em>; you will <em>likely never</em> use a <em>boning knife</em>. So, if you don’t yet have a knife, or are in the market for a new one, I <em>recommend</em> you invest your money in a <em>proper chef’s knife</em> rather than pay for an <em>expensive set</em> of <em>mostly-unused</em> knives. </p>
<p> <em>Go to a store</em> where you can hold a variety of knives. Don’t get obsessed with <em>fancy specialty knives</em> or <em>carbon-based blades</em> that <em>require wiping</em> down with <em>each use</em>. Just <em>pick up</em> a knife based on <em>how it feels</em> in <em>your hand</em>. People come in different sizes. So the <em>weight</em> and <em>balance</em> of the right knife is <em>different</em> for each of us. </p>
<p> What <em>matters most</em> is that a knife <em>feels right</em> in your hand and <em>is sharp</em>. The adage is true: a <em>dull knife</em> is <em>more likely</em> to <em>cut you</em> than a sharp one. Because a sharp knife does what you ask of it, like slicing through a beet. A dull knife meets <em>resistance</em>. It forces you to apply <em>too much pressure</em>, increasing the chances of <em>slipping</em> and driving the blade into <em>your hand</em>. </p>

<blockquote>
  <p> Does <em>sharpening</em> your knife sound <em>daunting</em>? We know how you feel. We can't all be <em>Gordon Ramsay</em>! </p>
  {{youtube-player 'SBn1i9YqN1k'}}

  <p> Have no fear! <em>The Wirecutter</em> has a fantastic article that can help you find <a href='https://thewirecutter.com/reviews/best-knife-sharpening-tool/' target='_blank'>The Best Knife Sharpening Tool</a> for you. TL;DR: it's probably the <a onclick={{action trackAffiliate 'amazon' 'knife-sharpener'}} href='https://www.amazon.com/gp/product/B007IVBET0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B007IVBET0&linkCode=as2&tag=cookformom-20&linkId=c66061539061b61b5beaca5e3520e124' target='_blank'>ChefsChoice ProntoPro 4643</a>. </p>

  {{#with (moment '2018-04-12') as |deadline|}}
    {{#if (is-same-or-before deadline precision='day')}}
      <p> <em>Even better</em>: let us send you one, <em>free</em>! <em>Share</em> before and after photos of <em>a salad you've made</em> on <em>Instagram</em>—make sure to tag <a href='https://instagram.com/cookformomdotcom' target='_blank'>@cookformomdotcom</a> when you do—before <em>{{moment-format deadline 'MMM DD YYYY'}}</em>. </p>
      <p> We will select photos from <em>up to three</em> lucky <em>subscribers</em>, who will each be sent a <em>free ProntoPro 4643</em>. </p>

      {{#unless lessons.application.didSubmit}}
        <button class='btn btn-primary' onclick={{action nudge 'knife-skills' 'contest'}}>
          Click here to sign up today!
        </button>
      {{/unless}}
    {{/if}}
  {{/with}}
</blockquote>
