<p> Let’s <em>practice</em> with <em>carrots</em>. They’re <em>inexpensive</em>. And no matter how many you cut up while practicing, you’ll eat them eventually. </p>
<p> First, <em>peel</em> a <em>carrot</em> and <em>cut</em> it into two or three <em>finger-length</em> pieces. </p>
<p> When you’re working with <em>round vegetables</em>, there’s a <em>danger</em> of the object <em>rolling under</em> your <em>free hand</em>, accidentally <em>exposing</em> your <em>fingers</em> to the <em>moving knife</em>’s edge. We <em>avoid this</em> by <em>flattening</em> or “squaring off”. You can do this by <em>cutting</em> the <em>carrot pieces</em> in <em>half lengthwise</em>, or just cutting a small strip off, so it <em>lays flat</em> on the board. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/cut-flatten.png'>
  <source src='/assets/videos/lessons/knife-skills/cut-flatten.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/cut-flatten.mp4' type='video/mp4'>
</video>

<p> <em>Feel</em> the difference? Now that you’ve <em>flattened</em> the <em>bottom</em>, it <em>can’t roll</em> on you. And it’s time to <em>combine</em> our <em>two techniques</em>. Use your <em>knife hand</em> to <em>slice</em> while your <em>claw hand</em> holds the <em>carrot still</em> on the board, <em>gradually feeding</em> it into the knife as you slice. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/cut-feed.png'>
  <source src='/assets/videos/lessons/knife-skills/cut-feed.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/cut-feed.mp4' type='video/mp4'>
</video>

<p> <em>That’s it</em>. Now that you know the essentials, you <em>must practice</em>. This technique <em>cannot be mastered</em> without a <em>great deal of practice</em>. </p>
