{{#each sections as |section|}}
  <li class='nav-item {{if (includes sections.highlights section) 'highlight'}}'>
    <a class='nav-link' href={{concat '#' section.slug}}>{{section.title}}</a>
  </li>
{{/each}}
