<img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-5.jpg' />

<p> Understandably, once you’ve <em>learned</em> to use a <em>chef’s knife</em>, you want to use it. And you <em>want something fancier</em> to show for it. Here’s a recipe for a dish that <em>seems fancy</em> but is in fact <em>very easy</em>. While it <em>does not require cooking</em>, it does present <em>ample opportunity</em> to <em>practice</em> your <em>knife work</em>. </p>
<p> <em>Ceviche</em> is just <em>fish</em> prepared in a <em>bath of citrus juice</em>. Some people say “cooked” or “cured”. It’s actually a <em>chemical process</em> called <em>denaturing</em>, which <em>breaks</em> many of the <em>bonds</em> that hold <em>protein molecules</em> in their shape. The <em>acid</em> of <em>lemon or lime</em> changes the <em>fish’s flesh</em> from its plush, raw, <em>translucent state</em> to an <em>opaque firmness</em> (and flavours it as well). The <em>type</em> of fish <em>doesn’t matter</em>. Sea bream, tuna, arctic char or halibut all <em>work fine</em>. So long as it <em>isn’t</em> a really <em>dense fish</em>, like pickerel or catfish. It just has to be <em>as fresh as possible</em>. </p>

<p> Basic ceviche <em>ingredients</em>: </p>
<ol>
  <li> Fresh fish </li>
  <li> Lime </li>
  <li> Salt </li>
  <li> Chili (any kind of fresh chilli, or a dried chilli, rehydrated by soaking in hot water for five minutes) </li>
  <li> Onion </li>
  <li> Cilantro </li>
  <li> Avocado </li>
</ol>

<img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-6.jpg' />

<p> Just <em>slice</em> some <em>fish</em> into <em>bite-sized chunks</em> or strips (remember these shapes from above?) and <em>mix it</em> with <em>lime juice</em>. That’s literally all there is to it. </p>
<p> The <em>larger</em> the piece, the <em>longer</em> it takes the <em>acid</em> to <em>reach the centre</em> of the <em>fish</em>. With a <em>dark fish</em> like tuna, you’ll <em>see</em> it <em>change colour</em> very <em>quickly</em>. <em>Season</em> with <em>salt</em> and you’ve got ceviche of the most basic kind. </p>
<p> Some people like to <em>leave it overnight</em> but with <em>bite-sized</em> pieces of fish, it only needs <em>five minutes</em> for the citrus to permeate. How much <em>lime juice</em>? <em>Start</em> with <em>half a lime</em> and <em>taste</em> it. If your fish is <em>fresh enough</em> to be used <em>for ceviche</em>, it’s fresh enough to be eaten as <em>sushi</em>. </p>

<img class='img-fluid' src='/assets/images/lessons/knife-skills/ceviche-3.jpg' />

<blockquote>
  <p> Don’t know how to pick out fresh fish or talk to your fishmonger? Here’s <a href='http://www.chatelaine.com/food/kitchen-tips/how-to-buy-sustainable-seafood/' target='_blank'>a guide I wrote for Chatelaine.</a> </p>
</blockquote>

<p> The <em>essential technique</em> is just <em>fish</em> and <em>lime juice</em>; anything you add is just to round out the dish. I’ve seen <em>100 different versions</em> of this <em>Latin American</em> dish, served with yuzu, apples, kumquats, sesame oil, edamame, lemongrass, watermelon, etc. The most <em>common presentation</em> is with <em>chilli</em>, <em>onion</em>, <em>cilantro</em>, <em>sweet potato</em>, and <em>corn</em>. </p>
<p> For a <em>no-cooking</em> version, stick with the <em>chilli</em>, <em>onions</em> and <em>cilantro</em>. You can <em>use the onion</em> to <em>practice slicing</em> as thin as possible and the <em>chilli</em> for <em>chopping</em> as small as possible (aka <em>mincing</em>). <em>Cilantro</em> is a hearty herb. Unlike basil or oregano, it <em>won’t bruise</em> if you <em>chop it roughly</em>. A few slices of <em>avocado</em> or <em>corn chips</em> should turn this into a dish. </p>
