> header {
  padding-top: 1rem;
}

section.info .content-section {
  padding: 2rem;
  line-height: 1.75rem;

  > :not(:last-child), > blockquote > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  > img:first-child {
    margin-top: -2rem;
    margin-left: -2rem;
    max-width: calc(100% + 4rem);

    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  ol, blockquote {
    border-left: 4px transparentize($primary, 0.2) solid;

    button.btn {
      display: block;

      margin-left: auto;
      margin-right: auto;
      padding: 1rem 2rem;
    }
  }

  blockquote {
    padding-left: 2rem;
  }

  ol {
    padding-left: 3rem;
  }

  a {
    text-decoration: underline;
  }
}

li.i-recipe-salad-and-dressing::before {
  // https://thenounproject.com/search/?q=salad&i=435507
  background-image: url(/assets/images/icons/salad.png);
}

li.i-advanced-recipe-ceviche::before {
  // https://thenounproject.com/search/?q=fish&i=163455
  background-image: url(/assets/images/icons/fish.png);
}

li.i-holding-a-knife::before {
  background-image: url(/assets/images/icons/knife.png);
}

li.i-the-cuts::before {
  // https://thenounproject.com/search/?q=dice&i=1040453
  background-image: url(/assets/images/icons/dice.png);
}
