> header {
  padding-top: 1rem;
}

li.i-recipe-salad-and-dressing::before {
  // https://thenounproject.com/search/?q=salad&i=435507
  background-image: url(/assets/images/icons/salad.png);
}

li.i-advanced-recipe-ceviche::before {
  // https://thenounproject.com/search/?q=fish&i=163455
  background-image: url(/assets/images/icons/fish.png);
}

li.i-holding-a-knife::before {
  background-image: url(/assets/images/icons/knife.png);
}

li.i-the-cuts::before {
  // https://thenounproject.com/search/?q=dice&i=1040453
  background-image: url(/assets/images/icons/dice.png);
}

li.i-recipe-pan-roasting-chicken::before {
  background-image: url(/assets/images/icons/chicken-48.png);
}

li.i-recipe-pan-roasted-brussels-sprouts::before {
  background-image: url(/assets/images/icons/brussels-sprouts-48.png);
}

li.i-dont-overcrowd-the-pan::before {
  background-image: url(/assets/images/icons/pan-48.png);
}

li.i-bonus-pan-sauce::before {
  background-image: url(/assets/images/icons/gravy-48.png);
}

li.i-what-is-braising::before {
  background-image: url(/assets/images/icons/clock-48.png);
}

li.i-on-cooking-beans::before {
  background-image: url(/assets/images/icons/beans-48.png);
}

li.i-recipe-braised-short-ribs::before {
  background-image: url(/assets/images/icons/beef-48.png);
}

li.i-why-sourcing-matters::before {
  background-image: url(/assets/images/icons/shopping-bag-48.png);
}
