<p> <em>Every day</em> for the <em>next week</em>, make a <em>salad</em>. But <em>every day</em>, try at least <em>one new ingredient</em> in your salad. </p>

{{#with (moment '2018-04-12') as |deadline|}}
  {{#if (is-same-or-before deadline precision='day')}}
    <blockquote>
      <p> If you <em>share</em> before and after photos of <em>your salads</em> on <em>Instagram</em>—make sure to tag <a href='https://instagram.com/cookformomdotcom' target='_blank'>@cookformomdotcom</a> when you do—before <em>{{moment-format deadline 'MMM DD YYYY'}}</em>, you could receive a free knife sharpener! </p>
      <p> We will select photos from <em>up to three</em> lucky <em>subscribers</em>, who will each be sent a <em>free ProntoPro 4643</em>. </p>

      {{#unless lessons.application.didSubmit}}
        <button class='btn btn-primary' onclick={{action nudge 'knife-skills' 'contest'}}>
          Click here to sign up today!
        </button>
      {{/unless}}
    </blockquote>
  {{/if}}
{{/with}}

<img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-2.jpg' />
