& {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: lighten($color-khaki, 20%);

  min-height: 40rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-weight: 300;
}

a {
  color: $body-color;
  font-weight: 400;
}

em {
  font-style: normal;
  font-weight: 400;
}

strong {
  @extend em;

  text-decoration: underline;
  text-transform: uppercase;
}

li {
  &.i-potatoes::before {
    background-image: url(/assets/images/icons/potatoes.png);
  }

  &.i-soup::before {
    background-image: url(/assets/images/icons/soup.png);
  }

  &.i-tacos::before {
    background-image: url(/assets/images/icons/tacos.png);
  }

  &.i-cookies::before {
    background-image: url(/assets/images/icons/cookies.png);
  }

  &.i-knife-skills::before {
    background-image: url(/assets/images/icons/knife.png);
  }

  &.i-pan-roasting::before {
    background-image: url(/assets/images/icons/pan.png);
  }

  &.i-how-to-shop::before {
    background-image: url(/assets/images/icons/shop.png);
  }

  &.i-continuous-kitchen::before {
    background-image: url(/assets/images/icons/recycle.png);
  }

  &.i-timing::before {
    background-image: url(/assets/images/icons/clock.png);
  }

  &.i-meal-prep::before {
    background-image: url(/assets/images/icons/camera.png);
  }

  &.i-learning::before {
    background-image: url(/assets/images/icons/learning.png);
  }
}
