<p> When you’re holding a knife, <em>don’t grip</em> it <em>too tightly</em>. Many people form a <em>tight fist</em> around the hilt of the blade. Short term, this will make <em>slicing difficult</em>. And long term, it will <em>hurt your wrist</em>. </p>
<p> Instead, start by making a <em>Spider-Man hand</em>. You know how Spidey presses his <em>middle and ring fingers</em> against his <em>palm</em> to shoot webs? That’s how you should hold a knife. The <em>pressure</em> should be between those <em>two fingers</em> and your <em>palm</em>. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/grip-spidey.png'>
  <source src='/assets/videos/lessons/knife-skills/grip-spidey.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/grip-spidey.mp4' type='video/mp4'>
</video>

<p> Let’s <em>feel the difference</em> between a <em>“fluid”</em> vs. a <em>stiff grip</em>. Try <em>picking up</em> your knife with <em>all your fingers</em> curled around the <em>handle’s centre</em>. Make a little <em>chopping motion</em> and look at the blade. Now <em>slowly release</em> your <em>pinky finger</em>, <em>index finger</em> and <em>thumb</em>. <em>Maintaining</em> the grip with your remaining two fingers and palm, <em>relax</em> your <em>wrist</em>. Make that <em>chopping motion</em> again and see how the <em>blade moves fluidly</em> instead of stiffly. <em>Feel</em> how the knife is <em>safely</em> in your <em>control</em>, but it’s <em>not rigid</em>. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/grip-tutorial.png'>
  <source src='/assets/videos/lessons/knife-skills/grip-tutorial.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/grip-tutorial.mp4' type='video/mp4'>
</video>

<p> Next, with the <em>hilt</em> still held between your <em>palm</em>, <em>ring</em> and <em>middle fingers</em>, <em>pinch the blade</em> with your <em>index finger</em> and <em>thumb</em> while your <em>pinky finger</em> just <em>dangles</em>. Do you <em>feel</em> that? That’s <em>control</em>. The <em>blade</em>, slightly <em>loose</em> in your grip, is suddenly <em>stabilized</em>. </p>
<p> <em>Congratulations!</em> You are now holding a knife properly. </p>
<p> And now more bad news: this isn’t one of those lessons that you master right away; this <em>will not</em> even <em>feel natural</em> at first, in part because you have likely been holding a knife wrong all your life. We will need to <em>practice</em> to move this knowledge from our short term to long term memory. It takes <em>a lot of repetition</em> for the conscious act to become a <em>routine</em>, <em>subconscious behaviour</em> we engage in <em>without thinking</em>. </p>
<p> You may find yourself <em>forgetting</em> or <em>lapsing</em> into <em>bad knife habits</em>. This is <em>okay</em>, and is part of the <em>learning process</em>; just <em>notice</em> the difference, <em>correct</em> your form, and <em>move on</em> with the prep. But, like many physical skills, this is <em>not pointless formality</em>. If you’ve ever worked out with weights, you know that <em>bad form</em> can result in <em>injury</em> (not to mention <em>wasted energy</em>). It’s the same with knife skills. So <em>be mindful</em> of your grip. </p>
