<p> As for the many, <em>varied cuts</em> — julienne, batonnet, brunoise, chiffonade. <em>Don’t worry</em> about all that. We’re <em>not</em> going to attempt anything <em>fancy</em> (or dangerous), like the <em>katsuramuki cut</em>. </p>
{{youtube-player 'n0Wp3ul2N0U'}}

<p> Just <em>chunks</em> and <em>strips</em>. </p>
<p> <em>No matter what form</em> food takes in its <em>raw state</em> — round, square, oblong, amorphous — you’re going to <em>cut</em> it into one of two basic shapes, a <em>chunk</em> or a <em>strip</em>. And that chunk can be <em>big</em> or <em>small</em>, <em>perfectly cubed</em> or hacked at <em>random angles</em>. Regardless of the precision involved, you’re still just aiming for those <em>two shapes</em>, <em>long</em> or <em>short</em>, <em>big</em> or <em>small</em>. </p>
<p> <em>Practice</em> with your <em>carrot</em> by <em>slicing lengthwise</em>. Now you have <em>wide strips</em> of carrot. </p>
<p> Want <em>thin strips</em>? <em>Stack</em> a few slices <em>on top of each other</em> and <em>slice lengthwise</em> again. If they’re <em>thick</em> you’ve got a <em>batonnet</em>. If they’re <em>thin</em> you’ve made a <em>julienne</em>. </p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/cut-types.jpg' />

<p> Now if you <em>take your strips</em> and <em>slice them again</em>, <em>width-wise</em>, you’ll have a <em>dice</em>. If it’s <em>small</em> enough, it’s a <em>brunoise</em>. </p>

<p> I worked in a restaurant where the chef would come around my work station and remove pieces that weren’t perfectly squared. It makes no difference to the flavour, he told me. But when diners are spending $100 each for dinner, everything needs to look perfect. Your kitchen doesn’t need to meet that level of performance. And letting go of perfectionism starts with chopping a carrot. </p>
{{youtube-player 'UblxxR7fBPk'}}

<p> <strong>TIP:</strong> When <em>scraping</em> chopped vegetables from board to bowl, <em>use the flat</em> of the knife, <em>not the sharp</em> side, which <em>dulls</em> the blade. </p>
