<p> The <em>guiding hand</em> is known as <em>the claw</em> because you <em>curl your fingers</em> inward, <em>away</em> from the <em>knife</em>. If you’re <em>holding</em> a carrot <em>like a flashlight</em>, or if you have your hand <em>spread out</em> on the board, you are always in <em>danger</em> of <em>slicing</em> off a <em>finger</em>. With the claw hand, your digits are safely tucked away. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/motion-claw.png'>
  <source src='/assets/videos/lessons/knife-skills/motion-claw.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/motion-claw.mp4' type='video/mp4'>
</video>

<p> <strong>BONUS:</strong> The <em>next level</em> up in safety is to keep <em>one knuckle</em> of your claw hand in <em>constant contact</em> with the <em>blade</em>. This seems dangerous. But it’s actually <em>safer</em>. With the <em>knuckle connected</em> and the <em>fingers</em> all <em>tucked away</em>, if the blade <em>never leaves</em> the board, it’s <em>not possible</em> for the knife to rise <em>high enough</em> to <em>cut</em> yourself. In cooking school they drilled this into us. But I rarely see people using the technique in professional kitchens, other than for slicing tiny, delicate items, like basil or chives. </p>
<p> <em>Take a minute</em> to <em>rehearse</em> the <em>saw</em> and the <em>claw</em>, because we’re about to start slicing. </p>
