<p> Now that we’re holding our knives, let’s do something with them. We will start by setting up your cutting board. Grab a <em>small kitchen towel</em>, or just some <em>paper towels</em>. <em>Wet</em> the <em>towel</em> and <em>spread it out</em> over your <em>clean kitchen counter</em>. Then place your <em>cutting board</em> over the <em>towel</em>. This will <em>prevent</em> your board from <em>dangerously sliding</em> underneath you <em>as you slice</em>. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/board-towel.png'>
  <source src='/assets/videos/lessons/knife-skills/board-towel.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/board-towel.mp4' type='video/mp4'>
</video>
