<p> Now that you know how to safely use a knife, let’s make <em>something simple</em>. A salad. Everyone knows how to make <em>a salad</em>. But if you <em>don’t know how</em> to make it <em>taste good</em>, it will always feel like <em>forced labour</em> to make and eat one of the <em>easiest</em> and <em>most nutritious</em> meals. </p>
<p> Here are the <em>key elements</em> of a <em>good salad</em> </p>

<ol>
  <li> <em>Fresh</em> ingredients (<em>crisp lettuce</em> good, wilted lettuce bad) </li>
  <li> A <em>simple</em>, non-sweetened <em>dressing</em> (no point in eating vegetables if you can’t do it without sugar) </li>
  <li> Something <em>crispy</em> </li>
</ol>

<img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-6.jpg' />

<p> Forget about recipes. Any time you see <em>salad recipes</em> in a cookbook, it’s <em>just suggestion</em>. The amounts are <em>irrelevant</em> to <em>your tastes</em>. Theoretically, <em>anything goes</em> in a salad. If you like an ingredient, it works. If you love it, add more. Unlike the purism of Italian pasta, where chefs will tell you that more than three ingredients spoils the appreciation for the noodles, <em>the more the merrier</em> in a salad (so long as you’re not just adding fried chicken and Snickers bars), which <em>gets dull</em> quickly if there are <em>too few elements</em>. </p>
<p> The only quantifications you need are this—a <em>typical</em> salad <em>dressing</em> is <em>one part acid</em> to <em>two parts fat</em>. That’s it. Do this now. And don’t use measuring spoons. Into a <em>mixing bowl</em>, give a <em>shake</em> from a <em>bottle of vinegar</em>, and <em>two shakes</em> from a <em>bottle of oil</em> (red, white, balsamic; olive, grapeseed, walnut — it doesn’t matter). <em>Don’t measure.</em> <em>Sprinkle</em> in some <em>salt</em> and <em>pepper</em>. Use a <em>whisk</em> (or a fork) to <em>mix it</em> and you’ve got salad dressing. </p>

<img class='img-fluid' src='/assets/images/lessons/knife-skills/salad-5.jpg' />

<p> Using this base, you can get as <em>fancy</em> as you want adding <em>different types</em> of <em>oil</em> or <em>vinegar</em>, <em>mustard</em>, <em>chillies</em>, <em>herbs</em>, <em>tahini</em> and on and on. But that <em>ratio</em> is all that <em>matters</em>. <em>Too thin</em> and your salad will be <em>soggy</em>. <em>Too thick</em> and the dressing <em>won’t spread</em>. You can <em>whisk until</em> the dressing <em>emulsifies</em> (a solidifying of two liquids that are not soluble) but it <em>makes no difference</em> to the <em>taste</em>. </p>
