<p> A <em>kitchen knife</em> is <em>designed</em> to be used in a <em>back and forth motion</em>, not up and down. </p>
<p> But many people <em>instinctively</em> use a kitchen knife like a <em>guillotine</em>, bringing it <em>directly down</em> on what they’re trying to cut. </p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/chop-conan.gif' />

<p> The <em>problem</em> with this is that a <em>guillotine</em> is a <em>giant blade</em> dropped from a <em>great height</em>. Your <em>kitchen knife</em>, when used in this manner, is <em>ineffective</em>. Chopping <em>straight down</em> only <em>engages</em> a <em>small section</em> of the <em>blade</em>, and unless it’s razor sharp, the result is <em>more pushing</em> than slicing. Pressing <em>straight down</em> puts <em>unnecessary pressure</em> on your <em>wrist</em>, <em>crushes food</em> and wears away a <em>dull spot</em> in the <em>centre</em> of your <em>blade</em>. With the proper <em>slicing motion</em>, you’ll engage the <em>whole blade</em> and put <em>less pressure</em> on your <em>wrist</em>. </p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/knife-skills/chop-andre.gif' />

<p> To <em>get the most</em> out of your blade, you want a <em>sawing motion</em>. Like a saw, let the <em>length</em> of the blade <em>glide over</em> the object you’re cutting, <em>pushing down slightly</em> as you <em>draw the blade forward</em>, and <em>lifting up</em> as you <em>draw back</em>. Your <em>arm</em> should put <em>more energy</em> into <em>moving forward</em> than down. Only <em>apply pressure</em> on the <em>forward motion</em>. </p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/motion-saw.png'>
  <source src='/assets/videos/lessons/knife-skills/motion-saw.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/motion-saw.mp4' type='video/mp4'>
</video>

<p> Place the <em>tip</em> of your blade <em>on the board</em>. Now try that same <em>slicing/sawing motion</em> again, but <em>without</em> ever letting the blade <em>leave the board</em>. It <em>takes time</em> to <em>master</em>. But the <em>gentle</em>, controlled <em>rocking motion</em> is far <em>more effective</em>, <em>safe</em> and <em>precise</em> skill than bashing a carrot with a sharp piece of metal. And now for the other hand. </p>
