<p>
  When you <em>removed</em> the <a href='#recipe-pan-roasting-chicken'>chicken</a> from the pan you probably noticed <em>little bits</em> still <em>stuck</em> to the <em>surface</em>. There may also be <em>liquid</em> in the <em>pan</em>, <em>fat</em> and <em>moisture</em> that rendered out of the meat as it cooked. And all of this is <em>terrifically flavourful</em>. Let's make a <em>quick sauce</em> out of it.
</p>

<h4>Equipment</h4>
<ul class='recipe__equipment equipment'>
  <li>Ovenproof pan</li>
</ul>

<h4>Ingredients</h4>
<ul class='recipe__ingredients ingredients'>
  <li>White wine</li>
  <li>Butter</li>
</ul>

<h4>Directions</h4>
<ul class='recipe__directions directions'>
  <li>Put the <em>pan</em> back on the <em>stove</em> and <em>apply heat</em>.</li>
  <li>
    <img class='img-fluid d-block ml-auto mr-auto mt-4 mb-4' src='/assets/images/lessons/pan-roasting/deglazing-pan-800.jpg' />
    When it's <em>hot</em>, add a <em>couple glugs</em> of <em>white wine</em>.
  </li>
  <li>
    <ul>
      <li>The <em>wine</em> should <em>quickly boil</em> as it hits the pan. This is called <em>deglazing</em>.</li>
    </ul>
  </li>
  <li>Using a <em>spoon</em> or <em>spatula</em>, <em>scrape</em> the surface of the <em>pan</em> to <em>extract</em> as much of those <em>bits</em>, up into the <em>liquid</em>, as possible.</li>
  <li><em>Add</em> some <em>butter</em> to the pan and <em>swirl</em> with the <em>wine</em>. It should quickly <em>emulsify</em> into a <em>silky sauce</em> for you to <em>pour over</em> the chicken.</li>
</ul>

<p>
  You can get <em>fancier</em> with this, <em>caramelizing vegetables</em> in the <em>pan's fat</em>, <em>adding spices</em>, or <em>using flour</em> to build it into a gravy. But this quick <em>pan sauce</em> is a <em>two-minute</em> affair that will immediately <em>bump up</em> the status of your <em>properly cooked</em> piece of <em>meat</em>.
</p>
