<p>
  The <em>technique</em> of <em>pan-roasting</em> is the <em>same</em> for <em>almost any meat</em> or <em>fish</em>. But <em>beef</em> is <em>twice the price</em> of chicken so it's <em>less ideal</em> for <em>practicing</em>. Also, the <em>typical cut</em> of <em>beef</em> we could cook in a <em>pan</em>, like a <em>ribeye</em>, is <em>too thin</em> to accurately use a <em>thermometer</em>. Better to <em>develop a sense</em> of cooking by touch <em>before</em> practicing with <em>beef</em>. But once you've cooked <em>enough chicken breasts</em>, <em>move on</em> to a <em>steak</em> or a <em>pork chop</em>, which can <em>more safely</em> be eaten <em>underdone</em>.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/sliced-beef-800.jpg' />

<p>
  For <em>fish</em>, if you leave the <em>skin on</em> a <em>filet</em>, it will <em>contract</em> in the <em>pan's heat</em>, causing the fish to <em>buckle</em>. Make a few <em>width-wise incisions</em> in the <em>skin</em> before cooking. This gives it <em>space</em> to contract <em>without pulling</em> at the meat.
</p>

<p>
  While <em>fish</em> will take <em>just as well</em> to pan-roasting as <em>meat</em>, it gives <em>different signs</em>. The <em>bonds</em> that hold a <em>fish's flesh</em> together are much <em>lighter</em> than meat. When fish is <em>cooked</em>, you should be able to <em>feel</em> the flesh <em>flaking apart</em> under the surface, with just a <em>light press</em> of your <em>fingers</em>.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/plated-fish-800.jpg' />
