<p>
  Boneless, skinless <em>chicken breasts</em> are the default form of chicken for most home cooks. This is because we’ve been trained to <em>fear fat</em>. I think they’re great for <em>stir-fries</em>. But <em>not</em> if you want to cook and eat a <em>piece of chicken</em>.
</p>

<p>
  "Cooking <em>without fat</em> is very <em>difficult</em>," writes Jennifer McLagan in her cookbook {{! todo affiliate }}Fat: an appreciation of a misunderstood ingredient. "<em>Fat</em> keeps our food <em>succulent</em> in the heat of the <em>oven</em> and <em>stops</em> it from <em>sticking</em> to the pan. Fats that can be heated to <em>high temperatures</em> are indispensable for <em>frying</em>; they make our food <em>appetizingly brown</em>, adding <em>caramelized flavours</em> and a <em>crisp texture</em>."
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/pan-roasted-breast-a-800.jpg' />

<p>
  I’ll make you a deal. You <em>don’t have</em> to eat the <em>skin</em>. But if you <em>cook</em> with chicken breasts with the <em>skin on</em>, you can throw it away. But <em>cooking</em> it with the <em>skin on</em> is going to <em>help</em> your meat retain its <em>juice</em> and <em>flavour</em>. And it will allow you to use <em>less oil</em> in the <em>pan</em> (you’ll still need <em>a bit</em> to <em>start</em>, but the chicken skin will render a bit of fat as it cooks).
</p>

<p>
  Some <em>supermarkets</em> have a <em>butchery staff</em>. But they are <em>rarely</em> involved in the <em>procurement</em> of meat. <em>If</em> it matters to you how your chicken was <em>raised</em> or what it was <em>fed</em>, buy from a <em>butcher shop</em> where someone can <em>answer</em> all your <em>questions</em>.
</p>
