<p>
  Working <em>cleanly</em> also means using the <em>right size</em> tool for the job.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/too-small-tool.gif' />

<p>
  We have a <em>tendency</em>, when choosing kitchen tools, to reach for the <em>smallest option</em>. I didn't fully understand this when a cooking school instructor told me. But I've seen it play out again and again over the years.
</p>

<p>
  People will choose the <em>smallest cutting board</em>, <em>knife</em> or <em>pan</em> to work with. They’ll <em>cram</em> a pound of brussels sprouts into a <em>six-inch pan</em> and wonder why they <em>aren't getting colour</em> as they fry.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/overcrowding-pan-800.jpg' />

<p>
  They'll <em>toss a salad</em> in a <em>soup bowl</em> instead of a <em>larger mixing bowl</em>, incredulous at the <em>lettuce</em> flying <em>everywhere</em>. They'll use a <em>paring knife</em> to <em>chop onions</em> and claim that <em>cooking</em> is <em>too hard</em>, instead of accepting that they have chosen the <em>wrong tool</em> for the <em>wrong job</em>.
</p>

<p>
  The <em>reason</em> people do this, and I wouldn't believe it if I hadn’t heard it 100 times, is that we <em>don't like cleaning up</em>. And we <em>believe</em> a <em>smaller</em> cutting board, or using <em>fewer</em> pans, means <em>less cleaning up</em>. The <em>opposite</em> is <em>true</em>.
</p>

<p>
  <em>Trying</em> to cook a <em>two-pan</em> meal in <em>one pan</em> makes a <em>bigger mess</em>, as <em>overflowing ingredients</em> wind up <em>on the floor</em> and that crevice between the stove and the counter. And <em>how much time</em> are you <em>saving</em>? Does the <em>big cutting board</em> really take <em>that much more</em> time to wash?
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/smoking-b.gif' />

<p>
  Added to which, our food <em>doesn't turn out</em> the way we want. You <em>can't</em> get things <em>crispy</em> if you overcrowd the pan. The more <em>cold</em> or <em>room temperature</em> food we add, the <em>lower</em> the <em>pan's heat</em> drops and the <em>longer</em> it takes to <em>crisp up</em>. Food <em>needs surface contact</em> with the metal <em>to brown</em>. If there's <em>too much</em> in the pan, it <em>won't happen</em>—when a recipe tells you to <em>fry</em> something in <em>three separate batches</em>, they <em>mean it</em>.
</p>

<p>
  Kitchen <em>cheats usually</em> produce <em>lower quality</em> results and <em>more clean up</em>. They are only a <a href='https://www.theglobeandmail.com/life/food-and-wine/can-kitchen-hacks-really-overcome-the-challenges-of-proper-meal-planning/article38285701/' target='_blank'>shortcut to disappointment</a>.
</p>

<p>
  Working <em>cleanly</em> will <em>save you time</em> and <em>energy</em> and make you a <em>better cook</em>. And you haven't even taken the chicken out of the fridge yet.
</p>
