<p>
  This week, I want you to cook <em>five chicken breasts</em>. Remember to <em>poke</em> them with your <em>fingers</em> each time you <em>check</em> one in the <em>oven</em>. By the end of the week, you will <em>know</em> the <em>firmness</em> of a <em>cooked chicken breast</em> and your <em>sense of touch</em> will <em>supersede</em> the <em>thermometer</em>.
</p>

<p>
  A <em>chicken breast</em> with <em>Brussels sprouts</em> is a good, <em>simple meal</em>. But after a couple days your <em>palate</em> will likely get bored and <em>eager</em> for <em>innovation</em>. You can try <em>tossing</em> the finished <em>chicken</em> with <em>noodles</em>, <em>hot sauce</em> or adding it to your <em>salads</em>.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/chicken-breast-salad-800.jpg' />

<p>
  Don't be afraid of <em>experimentation</em>. <em>Ketchup</em>, <em>mustard</em>, <em>mayonnaise</em>, <em>Old Bay</em> seasoning, <em>fish sauce</em>, <em>hoisin sauce</em>, <em>horseradish</em>, <em>chillies</em>, <em>vinegar</em> and so on. Whatever is in the <em>door of your fridge</em>, try <em>combining</em> it with <em>chicken</em> and <em>Brussels sprouts</em>. When you learn to <em>trust</em> that your <em>chicken</em> is going to come out <em>fine</em> each time, you'll be <em>more comfortable</em> with the <em>trial and error</em> of <em>flavour pairing</em>.
</p>

<p>
  More <em>importantly</em>, as you <em>cook</em> a chicken breast <em>each night</em>, you will <em>build trust</em> in your <em>abilities</em>. You will <em>let go</em> of your <em>fear</em> of <em>meat</em>. <em>Repeating</em> the process of <em>cooking</em> and <em>tasting</em>, you will <em>learn</em> how much <em>salt</em> or <em>oil</em> you need, and how the <em>timing</em> might <em>differ</em> based on the <em>size</em> of the <em>meat</em> or the <em>pan</em>. Using your <em>senses</em> of <em>sight</em>, <em>smell</em> and <em>taste</em>, you will <em>develop confidence</em> and begin the process of <em>abandoning</em> your <em>reliance</em> on <em>measurements</em> for <em>ingredients</em> and <em>cooking times</em>.
</p>
