<p> {{link-to 'Last week' 'lessons.lesson' 'knife-skills'}} we took things slow with proper <em>knife handling</em> and assembling a <em>salad</em>. This week we're going to start on some basics of <em>cooking proteins</em>, being mindful to work cleanly. </p>
<p> Cooking <em>meat</em> for the first time can be <em>scary</em>. The popular sitcom trope of <em>food poisoning</em> has done a good job of making us <em>fearful</em> and <em>suspicious</em> of meat. But in reality we’re <em>just as likely</em> to get food poisoning from <em>spinach</em>, or a <em>common cold</em> from cooks, who routinely work while sick as a matter of pride. </p>
<p> <em>Animal proteins</em> do require some <em>caution</em>. While <em>fresh beef</em> and <em>fish</em> can be eaten <em>raw</em>, <em>chicken</em> should be <em>heated</em> to a certain temperature (Health Canada guidelines suggest 165F for pieces, 180F for whole) to destroy <a href='https://www.canada.ca/en/public-health/services/food-poisoning/salmonella-salmonellosis.html' target='_blank'>Salmonella</a> or <a href='https://www.canada.ca/en/public-health/services/food-poisoning/campylobacter-jejuni.html' target='_blank'>Campylobacter</a> bacteria. But meat is <em>no more dangerous</em> than a <em>bicycle</em> or a <em>hammer</em>. It is not radioactive. Later we’ll share a few <em>simple steps</em> to working <em>cleanly</em> and <em>safely</em> that can <em>prevent any danger</em>. </p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/spit-wheel.gif' />

<p> There are many <em>other ways</em> to <em>apply heat</em> to food — roasting, grilling, smoking, <em>steaming</em>, frying — all with their own <em>pros and cons</em>, <em>challenge levels</em> and <em>health benefits</em>. For now we’re going to focus on <em>pan-roasting</em>. </p>

{{youtube-player 'PPFXJlUODzs'}}
