<img class='img-fluid' src='/assets/images/lessons/pan-roasting/recipe-brussels-sprouts-800.jpg' />

<p>
  To understand the <em>universality</em> of <em>pan-roasting</em>, let's cook some <em>vegetables</em> this way.
</p>

<p>
  Like a lot of people, I <em>grew up</em> on <em>boiled-to-death</em> Brussels sprouts and I <em>did not like</em> them. In the last generation, <em>chefs</em> have made this vegetable <em>popular</em> again. But while the <em>combinations</em> of <em>Brussels sprouts</em> with <em>bacon</em> and <em>kimchi</em> helped turn them trendy, it was the <em>cooking method</em> that <em>sold</em> them.
</p>

<p>
  <em>Instead</em> of <em>boiling</em> the "Barbie cabbages" <em>whole</em>, chefs started <em>cutting</em> them in <em>half</em>, using the <em>cut side surface</em> to create a <em>bounty of flavour</em> and <em>colour</em>. Now that you know how to <em>pan-roast</em> a chicken breast, you probably know what to do.
</p>

<h4>Equipment</h4>
<ul class='recipe__equipment'>
  <li>Ovenproof pan</li>
  <li>Tongs</li>
</ul>

<h4>Ingredients</h4>
<ul class='recipe__ingredients'>
  <li>Cooking oil</li>
  <li class='ingredients__notes notes'>
    <ul>
      <li>Use one with a <em>high smoking point</em>, like <em>canola</em>, <em>grapeseed</em> or <em>vegetable</em> oil.</li>
    </ul>
  </li>
  <li>Brussels sprouts</li>
</ul>

<h4>Directions</h4>
<ul class='recipe__directions'>
  <li>To start, <em>trim</em> a bit from the <em>root</em> end of each <em>Brussels sprouts</em>, then <em>slice</em> them in <em>half</em>.</li>
  <li><em>Preheat oven</em> to <em>400F</em>. On the stovetop, add a <em>splash of oil</em> to your <em>oven-proof pan</em> and bring it to <em>medium-high heat</em>.</li>
  <li>Using <em>oil</em> with a <em>high smoking point</em>, <em>sear</em> the <em>Brussels sprouts</em>, flat side down.</li>
  <li>
    <ul>
      <li><em>Don't overcrowd</em> the pan!</li>
    </ul>
  </li>
  <li><em>Wait</em> a few minutes, until the <em>Brussels sprouts</em> start to <em>brown</em>. Then <em>turn them over</em> and <em>transfer</em> the <em>pan</em> to the <em>oven</em>.</li>
  <li><em>Roast</em> until <em>cooked through</em>, about <em>five minutes</em>. When a <em>paring knife</em> slides in and out <em>easily</em>, they're done.</li>
  <li>Season to taste with salt and pepper.</li>
</ul>

<p>
  That was a lot <em>shorter</em> than the <a href='#recipe-pan-roasting-chicken'>chicken instructions</a>, wasn't it? That's because we <em>spent the time</em> to <em>understand</em> the <em>cooking method</em> of <em>pan-roasting</em>, rather than simply following a recipe. And once we've <em>learned</em> something, it begins to <em>apply</em> in ways we <em>hadn't anticipated</em>.
</p>

<p>
  When we <em>follow directions</em>, we can expect to reach a <em>specific goal</em>. But when we <em>develop skills</em>, we're <em>capable</em> and <em>prepared</em> for <em>adaptation</em> and <em>creativity</em>. If I asked you to <em>pan-roast salmon</em> or <em>cauliflower</em>, to add <em>cumin</em> or <em>cilantro</em>, you'd <em>know how</em>. You might be <em>unsure</em> of the <em>exact cooking times</em>, <em>when</em> to <em>add</em> the <em>spices</em>, or the <em>colour</em> you're <em>looking for</em>. But you have the <e>essential skills</e>, which are <em>all you need</em> to start incorporating <em>more ingredients</em> and <em>flavours</em>.
</p>
