<img class='img-fluid' src='/assets/images/lessons/pan-roasting/pan-roasted-breast-b-800.jpg' />

<p>
  Though the <em>cooking times</em> and <a href='https://www.canada.ca/en/health-canada/services/general-food-safety-tips/safe-internal-cooking-temperatures-chart.html' target='_blank'>temperatures</a> will vary, the <em>method</em> of <em>pan-roasting</em> will be the <em>same</em> with <em>chicken</em>, <em>beef</em>, <em>pork</em>, <em>lamb</em>, etc. We're going to <em>practice</em> with <em>chicken</em> because it’s the most <em>common</em> and <em>least expensive</em>.
</p>

<p>
  We <em>could</em> do this <em>entirely</em> in the <em>oven</em>. The reason we <em>sear first</em> is the <em>Maillard reaction</em>. When we <em>slowly</em> cook <em>vegetables</em> like <em>carrots</em>, <em>onions</em>, <em>beets</em> or <em>parsnips</em>, the <em>high sugar</em> content develops into a <em>complex flavour</em> through a <em>process</em> known as <em>caramelization</em>. The <em>Maillard reaction</em> is a <em>similar</em> set of <em>flavours</em> and <em>smells</em> released by <em>browning meat</em>. And yes, it makes meat <em>look more appetizing</em> as well.
</p>

<p>
  The <em>trick</em> to <em>searing</em> is bringing the pan to the <em>right heat before adding</em> anything to it. <em>Too low</em> and your protein <em>will stick</em>. <em>Too high</em> and it <em>will burn</em>. Everyone's <em>stove</em> is <em>different</em>. The <em>sweet medium-high spot</em> for <em>searing</em> on mine is 7 on a dial that goes to 9 (why don’t they go to 10?).  Let the <em>pan sit</em> at that heat for <em>a minute or two</em>. Even <em>better</em> if you can <em>see</em> a little <em>heat distortion</em> rising from the surface.
</p>

<p>
  Make sure you're using a <em>pan</em> that can go in the <em>oven</em>, meaning <em>no wooden or plastic</em> handle. I like <em>cast iron</em> for the way it <em>distributes</em> and <em>retains heat</em>. But there's <em>no reason</em> to be a <em>snob</em> about it. Use <em>whatever pan</em> you've got.
</p>

<h4>Equipment</h4>
<ul class='recipe__equipment equipment'>
  {{! todo icons }}
  <li>Ovenproof <em>pan</em></li>
  <li>Meat <em>thermometer</em></li>
  <li><em>Tongs</em></li>
</ul>

<h4>Ingredients</h4>
<ul class='recipe__ingredients ingredients'>
  <li>Cooking <em>oil</em></li>
  <li class='ingredients__notes notes'>
    <ul>
      <li>For cooking on a heat this high, we want canola, grapeseed or vegetable oil.</li>
      <li>Oils like olive and sesame have a low smoking point. That means they’re quicker to burn at a lower temperature.</li>
    </ul>
  </li>
  <li>Chicken breasts</li>
  <li><a href='#bonus-pan-sauce'>Pan sauce</a></li>
  <li class='ingredients__notes notes'>
    <ul>
      <li>White wine</li>
      <li>Butter</li>
    </ul>
  </li>
</ul>

<h4>Directions</h4>
<ul class='recipe__directions directions'>
  <li>Start by <em>preheating</em> your oven to <em>400F</em>. On the stovetop, add a <em>splash of oil</em> to your <em>oven-proof pan</em> and bring it to <em>medium-high heat</em>.</li>
  <li>
    <ul>
      <li>Let the <em>oil</em> <em>heat up</em> and <em>coat the surface</em> of the <em>pan</em>. If the oil begins to <em>smoke</em>, turn the <em>heat down</em>.</li>
      <li>If you are using an <em>electric stove</em>, you can <em>adjust</em> your application of heat <em>faster</em> by taking the pan <em>on and off</em> the element, rather than waiting for the coil to adjust.</li>
    </ul>
  </li>
  <li><em>Before</em> adding <em>chicken</em> to the <em>pan</em>, sprinkle it with <em>salt</em>. Do this <em>over the sink</em>, so any <em>chicken-tainted flakes</em> fall where they can be <em>easily washed</em> away.</li>
  <li>
    <ul>
      <li>Use <em>more salt</em> than you think. <em>Most</em> will <em>fall off</em> the surface.</li>
    </ul>
  </li>
  <li>
    <img class='img-fluid d-block ml-auto mr-auto mb-4 mt-4' src='/assets/images/lessons/pan-roasting/chicken-pan-skin-down-800.jpg' />
    <em>Place</em> the <em>chicken</em> in the <em>pan</em> <em>skin side down</em>. It should <em>sizzle</em>. <em>Wash</em> your <em>hands</em>.
  </li>
  <li>
    <ul>
      <li>From this point on <em>only use</em> a pair of <em>tongs</em> to move the <em>chicken</em> in the <em>pan</em>.</li>
      <li>When we <em>add protein</em> to a <em>hot surface</em>, it forms a <em>bond</em> that will <em>gradually</em> be <em>released</em> as it cooks. But if you try to <em>move</em> it <em>too soon</em> the <em>flesh</em> will still be <em>bonded</em> to the metal and it <em>will tear</em>. So try to <em>resist</em> the <em>temptation</em> to <em>fidget</em>, <em>jostle</em>, <em>inspect</em> or <em>move</em> the meat around in the pan.</li>
    </ul>
  </li>
  <li><em>Wait</em> a few minutes, until you begin to see a <em>slight colouration</em> around the <em>edge</em> of the <em>meat</em>. Use the <em>tongs</em> to lightly tap the <em>breast</em>, not <em>lifting</em> or <em>moving</em>, just <em>testing</em> to see if it is <em>bonded</em> to the <em>pan</em>. If it <em>releases</em>, <em>lift</em> it up to see the <em>colour</em> on the <em>skin</em>. If it’s still <em>stuck</em>, be <em>patient</em>.</li>
  <li>
    <ul>
      <li>Use your <em>senses</em>. Do you <em>see black</em> around the <em>edges</em>? Smell <em>burning</em>? It's <em>too hot</em>. Remove it from the heat.</li>
      <li>These reactions <em>won't be obvious</em> to spot <em>at first</em>. Over <em>time</em>, with <em>practice</em>, you will come to <em>recognize off-smells</em>. You will <em>know</em> when chicken is <em>burning</em> from the <em>other side</em> of your <em>home</em>. At the <em>beginning</em> though, <em>stay close</em> to the pan.</li>
    </ul>
  </li>
  <li>
    <img class='img-fluid d-block ml-auto mr-auto mb-4 mt-4' src='/assets/images/lessons/pan-roasting/chicken-oven-thermometer-800.jpg' />
    When the <em>skin</em> reaches a <em>copper colour</em>, <em>turn</em> the <em>breast</em> so the <em>skin</em> is <em>facing up</em> and <em>slide the pan</em> into the <em>oven</em>.
  </li>
  <li>
    <ul>
      <li>At this point you're just <em>waiting</em> and <em>periodically checking</em> to see if it's done. It'll probably take <em>around 10 to 15 minutes</em>. But what you <em>don't</em> want to do is <em>depend entirely</em> on a <em>time estimate</em>. The goal is not just to follow instructions, but <em>learn</em> what <em>signs</em> to watch for, to <em>develop senses</em> you can trust.</li>
    </ul>
  </li>
  <li><em>When</em> the meat reaches <em>165F</em>, it's done.</li>
  <li>
    <ul>
      <li>For your <em>first</em> chicken breast, use a <em>meat thermometer</em>. Every <em>five minutes</em>, <em>remove</em> the chicken from the oven and measure its temperature. More importantly, each time you check on the meat, touch it. Press and squeeze it lightly with your fingers, washing them after.</li>
      <li><em>Once</em> you've done this a <em>few times</em>, you will begin to <em>recognize</em> the <em>transformation</em> the chicken goes through, the <em>change</em> in its <em>texture</em> as it <em>raises</em> in <em>temperature</em>. <em>Eventually</em>, you will <em>know</em> the <em>doneness</em> of a chicken breast <em>by feel</em> and <em>will not need</em> the <em>thermometer</em>. You <em>must practice</em> to master this.</li>
    </ul>
  </li>
  <li>Transfer the meat to a cutting board and let it rest for a few minutes before slicing. <em>Congratulations!</em> You've <em>safely cooked</em> a chicken breast.</li>
  <li>
    <ul>
      <li><em>Don't rinse</em> out the pan <em>yet</em>. We're going to use it to make a <a href='#bonus-pan-sauce'>pan sauce</a>, which we'll get to <em>down below</em>.</li>
      <li><em>Taste</em> it. <em>When</em> you were <em>adding</em> the <em>salt</em>, it seemed like too much. But <em>how much</em> permeated the <em>chicken's centre</em>? Will you use <em>more or less next time</em>?</li>
    </ul>
  </li>
</ul>
