<p>
  When you're working for <em>minimum wage</em>, this is a <em>demoralizing phrase</em> to have a boss tell you. But it's <em>true</em>. And a lot of cooking is <em>waiting</em>. We wait while <em>potatoes roast</em>, while <em>dough rises</em> or <em>onions caramelize</em>. And, though we are now all conditioned to fill every spare micro-moment by checking our <em>social media</em>, a good cook <em>multitasks</em> by always <em>doing something</em> while <em>waiting</em>.
</p>

<p>
  The most <em>obvious</em> thing to do is <em>clean</em>. If you fill in the <em>waiting times</em> by <em>washing</em> your <em>cutting board</em>, <em>knives</em> and <em>mixing bowls</em>, you'll have a minimal mess when you're done.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/messy-workspace-800.jpg' />

<p>
  But <em>don't be afraid</em> of <em>making a mess</em> and getting your hands dirty. Some <em>great chefs</em> are <em>messy cooks</em>. All that matters is that you <em>clean up</em> when you're <em>finished</em>.
</p>
