<p>
  A lot of recipes will tell you to <em>rinse chicken</em> and <em>pat</em> it <em>dry</em>. I <em>don't recommend</em> this. Thorough <em>cooking kills</em> the <em>food-borne illnesses</em> present <em>in chicken</em>. So <em>washing</em> raw chicken in the sink just <em>increases</em> the <em>likelihood</em> of <em>cross-contamination</em> through <em>splashing water</em>.
</p>
