<p>
  When you see <em>"pan-roasted"</em> on a menu, in front of <em>meat</em> or <em>fish</em>, it sounds nice. But what does it mean? Unlike <em>"crispy"</em>, which is usually a euphemism for <em>deep-fried</em>, pan roasting is literal. It means to <em>sear</em> something in a <em>pan</em> on the <em>stovetop</em>, then <em>finish</em> by <em>roasting</em> it in the <em>oven</em>; and it’s one of the best methods for <em>cooking proteins</em> to give them the kind of <em>textures</em> we crave, a <em>crunchy exterior</em> and <em>juicy interior</em>. It works well for <em>many vegetables</em> too.
</p>

<p>
  The <em>first</em> part, on the <em>stove</em>, allows us a great deal of <em>control</em>, as we carefully <em>watch</em> the meat in the <em>pan</em> to see it developing a <em>copper colour</em> on one <em>side</em>. But the <em>stovetop</em> is <em>limited</em> as the <em>heat</em> is only coming from <em>one direction</em>. The second part, in the <em>oven</em>, gives us a <em>more efficient</em> application of <em>heat</em> to <em>evenly</em> finish cooking.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/seared-breast-800.jpg' />

<p>
  When we first start cooking meats, worried about <em>food poisoning</em>, we default to <em>overcooking</em> everything. I did this too. You cook a steak, question if it’s done, then cook it some more just to be sure.
</p>

<p>
  The first time I had to cook steaks in a restaurant I was <em>terrified</em> that I would <em>ruin</em> them, or worse, <em>poison</em> a customer. I kept asking my boss, “Is this done?” By the end of that weekend, I’d probably grilled <em>40 or 50 steaks</em>, and knew <em>what to look for</em>, <em>how to poke</em> a piece of meat and tell by the <em>resistance</em> if it was <em>rare</em>, <em>medium</em> or <em>well done</em>. Most adults should be able to learn it after <em>10 repetitions</em>.
</p>

{{youtube-player 'R_yJ2_C6Dgk'}}

<p>
  Recipes for home cooks use <em>time estimates</em>. These are <em>helpful</em> guidelines. But they can be <em>misleading</em> as the <em>size</em> and <em>density</em> of your <em>ingredients</em>, or the <em>settings</em> on your <em>oven</em>, can <em>vary</em>. It’s only through <em>repetition</em> that we <em>develop</em> our <em>senses</em>, our <em>sight</em>, <em>smell</em>, <em>taste</em> and even <em>hearing</em>, alerting us to when food is done cooking.
</p>

<p>
  This week we’ll <em>practice</em> with <em>chicken breasts</em>, <em>learn</em> how to make a <em>pan sauce</em> from the <em>drippings</em> and throw some <em>vegetables</em> into the mix as well. We’ll begin with <em>clear instructions</em>. But through <em>repetition</em>, you’ll begin to <em>build</em> a more valuable <em>trust</em> in your <em>senses</em>. But really we’re just zeroing in on this one method.
</p>
