<p>
  But first, a word about <em>working cleanly</em>. If we’re going to <em>let go</em> of our <em>paranoia</em> of <em>meats</em>, we must also <em>take responsibility</em> for the <em>hygiene</em> of our <em>working conditions</em>. We don’t all have fabulous, roomy kitchens with unlimited counter space. But we all have the <em>ability</em> to <em>work</em> as <em>cleanly</em> as possible.
</p>

<p>
  This starts with having a <em>clean kitchen</em> before you <em>begin cooking</em>. Whether you have a <em>tiny</em> wedge of <em>counter space</em> or a <em>big</em> kitchen <em>island</em>, it should be <em>clear</em> of <em>everything except</em> what you <em>need to cook</em>. That stack of junk mail, scented candles and library books, get rid of it all and <em>wipe down</em> the table with <em>soap and water</em>. Clutter limits your <em>freedom of movement</em> and <em>mental clarity</em> while cooking. And junk from <em>outside</em> is <em>dirty</em> too. How often does anyone <em>wash</em> a <em>purse</em> or a <em>backpack</em>?
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/clean-workspace-800.jpg' />

<p>
  Once you’ve got a <em>clean work area</em>, set up your <em>cutting board</em>, as outlined in {{link-to 'Week 1' 'lessons.lesson' 'knife-skills'}}. If you do not have a <em>trash bin</em> right next to your work area, place a <em>mixing bowl</em> beside your <em>cutting board</em> for <em>scraps</em>. A scrap bowl <em>saves you time</em> and mess so you’re <em>not walking</em> across the room <em>each time</em> you <em>chop</em> something, <em>dropping</em> carrot peels and onion skins on the <em>floor</em>.
</p>

<video class='img-fluid' autoplay controls playsinline loop muted poster='/assets/videos/lessons/knife-skills/board-towel.png'>
  <source src='/assets/videos/lessons/knife-skills/board-towel.webm' type='video/webm; codecs=vp9,vorbis'>
  <source src='/assets/videos/lessons/knife-skills/board-towel.mp4' type='video/mp4'>
</video>

<p>
  This week we’re cooking a <em>one-ingredient</em> dish. But <em>usually</em> you’ll have a <em>bunch of ingredients</em> to prep. Bring a <em>collection of bowls</em> to your <em>work area</em> so you have somewhere to put each item once it’s been <em>peeled</em> and <em>chopped</em>. This <em>saves you time</em> and <em>prevents</em> you from <em>constantly grabbing</em> the cabinet doors with <em>dirty hands</em>. Everything you need should be <em>within arm's reach</em>. You <em>shouldn't</em> ever have to <em>walk around</em> the kitchen with the <em>cutting board</em>, looking for something to <em>scrape garlic</em> into.
</p>

<img class='img-fluid d-block ml-auto mr-auto' src='/assets/images/lessons/pan-roasting/ready-workspace-800.jpg' />

<p>
  Once you’ve got a <em>clean work area</em> set up, gather <em>every ingredient</em> for your meal/dish/project. We do this for two reasons:
</p>

<ol>
  <li> It <em>saves us time</em>, as we <em>avoid searching</em> the kitchen for ingredients <em>between each step</em>. </li>
  <li> We <em>discover</em> if there are any <em>missing ingredients</em> before we start, <em>pre-empting</em> the <em>panicked choice</em> between <em>running out</em> to the stores or <em>proceeded without</em> key ingredients. </li>
</ol>
